<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Astrolytics - Time Series Forecasting</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1 style="text-align:center; font-size: 2.5rem; color:#ff416c;">🔮 Astrolytics</h1>
    <p style="text-align:center; font-size: 1.2rem; color:#555;">AI-powered time-series forecasting</p>

    <nav>
        <h2>🔮 Astrolytics</h2>
    </nav>

    <form action="/forecast" method="post">
        <label for="ticker">Company Name:</label>
        <input type="text" id="ticker" name="ticker" required>

        <label for="period">Enter Period (e.g., 1y):</label>
        <input type="text" id="period" name="period" required placeholder="e.g., [number]y">

        <label for="n_days">Forecast Days:</label>
        <input type="number" id="n_days" name="n_days" value="10" min="1">

        <label for="model">Choose Model:</label>
        <select id="model" name="model">
            <option value="ARIMA">ARIMA</option>
            <option value="SARIMA">SARIMA</option>
        </select>

        <button type="submit">Get Forecast</button>
    </form>
    <footer class = "footer" style="text-align: center; padding: 10px; background: #f8f9fa; color: #333;">
        &copy; 2025 Astrolytics. All Rights Reserved.
    </footer>
</body>
</html>
